// Variables

// Colors
$textColor: white;
$featureColor: #d41919;
$highlightColor: #fc6f03;
$bgcolor:#2c2c2c;

// Breakpoints
$desktop: 1250px;
$tabletLandscape: 1180px;
$tabletPortrait: 700px;
$phoneLandscape: 500px;
$phonePortrait: 320px;
//custom font

$navFont : 'Spartan', sans-serif;